# DOMjudge Production Environment

# Traefik
TRAEFIK_PLAINTEXT_PASSWORD=changeme
TRAEFIK_HASHED_PASSWORD=$apr1$dummy$hash
TRAEFIK_DOMAIN=your_traefik_domain
TRAEFIK_VERSION=v2.9

# DOMjudge domain
SITES=your_domjudge_domain
EMAIL=your_admin_email@example.com

# Database
MARIADB_VERSION=10.6
DJ_DB=your_database_name
DJ_DB_USER=your_database_user
DJ_DB_PASSWORD=your_database_user_password
DB_ROOT_PASSWORD=your_root_password
DJ_DB_HOST=your_database_host

# Redis
REDIS_VERSION=7
REDIS_CONTAINER_NAME=redis
REDIS_INSIGHT_VERSION=latest
REDIS_INSIGHT_CONTAINER_NAME=redisinsight
REDIS_HOST=redis
REDIS_PORT=6379

# Domserver PHP
FPM_MAX_CHILDREN=20

# Judgehost
JUDGEHOST_VERSION=8.2.0
DOMSERVER_MAIN_IP=domserver
JUDGEHOST_PASSWORD=changeme  # will be replaced by extract script

# Timezone
CONTAINER_TIMEZONE=Asia/Kolkata
